%%-*- mode: erlang -*-
{key,<<"replace with key from https://trello.com/app-key">>}.
{token,<<"Visit https://trello.com/1/authorize?name=Chudbot&expiration=never&response_type=token&key=[YOUR KEY HERE] to get this.">>}.
